Node-RED/CriacaoDashboardNodeRED.json
[
    {
        "id": "2bd41bd.c8ce8e4",
        "type": "tab",
        "label": "Flow 2",
        "disabled": true,
        "info": ""
    },
    {
        "id": "27412fb9.5b969",
        "type": "ui_button",
        "z": "2bd41bd.c8ce8e4",
        "name": "",
        "group": "8bb1f656.5b21a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Ola",
        "tooltip": "Acione para ter uma surpresa",
        "color": "",
        "bgcolor": "",
        "icon": "fa-handshake-o",
        "payload": "ola mundo Dashboard",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "e745cfe5.18f85"
            ]
        ]
    },
    {
        "id": "e745cfe5.18f85",
        "type": "ui_text",
        "z": "2bd41bd.c8ce8e4",
        "group": "8bb1f656.5b21a8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mensagem Recebida:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "2929193a.c0ed36",
        "type": "ui_text",
        "z": "2bd41bd.c8ce8e4",
        "group": "84879329.af4cb",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mensagem Recebida:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "bbf79708.68dd98",
        "type": "ui_text_input",
        "z": "2bd41bd.c8ce8e4",
        "name": "",
        "label": "Informe seu nome:",
        "tooltip": "Digite aqui o nome do usuário",
        "group": "84879329.af4cb",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 260,
        "wires": [
            [
                "2929193a.c0ed36"
            ]
        ]
    },
    {
        "id": "b27baa7.2585858",
        "type": "ui_slider",
        "z": "2bd41bd.c8ce8e4",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "8bb1f656.5b21a8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 360,
        "y": 360,
        "wires": [
            [
                "a0b849a6.c0d5b8"
            ]
        ]
    },
    {
        "id": "a0b849a6.c0d5b8",
        "type": "ui_gauge",
        "z": "2bd41bd.c8ce8e4",
        "name": "",
        "group": "8bb1f656.5b21a8",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 620,
        "y": 360,
        "wires": []
    },
    {
        "id": "8bb1f656.5b21a8",
        "type": "ui_group",
        "name": "Ola Mundo",
        "tab": "b366b1ad.21d27",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "84879329.af4cb",
        "type": "ui_group",
        "name": "Entrada Texto",
        "tab": "b366b1ad.21d27",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b366b1ad.21d27",
        "type": "ui_tab",
        "name": "FATEC",
        "icon": "fa-bandcamp",
        "disabled": false,
        "hidden": false
    }
]
